{% load i18n thumbnail cms_tags aldryn_people_tags %}

<article>
    {% if not group %}<h2>{% else %}<h3>{% endif %}
        {% if not instance and not detail_view or instance.show_links %}
            {% if person.get_absolute_url %}
                <a href="{{ person.get_absolute_url }}">{{ person.name }}</a>
            {% else %}
                {{ person.name }}
            {% endif %}
        {% else %}
            {% render_model person 'name' %}
        {% endif %}
        
    {% if not group %}</h2>{% else %}</h3>{% endif %}

    {% if person.profile.visual %}
        <p>
            {% if instance.show_links and person.get_absolute_url %}
                <a href="{{ person.get_absolute_url }}">
            {% endif %}
            <img src="{% thumbnail person.profile.visual 200x100 crop subject_location=person.profile.visual.subject_location %}" alt="{{ person.name }}">
            {% if instance.show_links and person.get_absolute_url %}
                </a>
            {% endif %}
        </p>
    {% endif %}

    <p>
        {% if person.profile.phone %}
            <strong>{% trans "Phone:" %}</strong>
            {{ person.profile.phone|phoneformat }}<br>
        {% endif %}
        {% if person.profile.mobile %}
            <strong>{% trans "Mobile:" %}</strong>
            {{ person.profile.mobile|phoneformat }}<br>
        {% endif %}
        {% if person.profile.fax %}
            <strong>{% trans "Fax:" %}</strong>
            {{ person.profile.fax }}<br>
        {% endif %}
        {% if person.profile.email %}
            <strong>{% trans "Email:" %}</strong>
            <a href="mailto:{{ person.profile.email }}">{{ person.profile.email }}</a><br>
        {% endif %}
        {% if person.profile.website %}
            <strong>{% trans "Website:" %}</strong>
            <a href="{{ person.profile.website }}" target="_blank">{{ person.profile.website }}</a><br>
        {% endif %}
    </p>
    {% if person.profile.description %}
        {{ person.profile.description|safe }}
    {% endif %}

    {% if not instance and person.profile.vcard_enabled or instance.show_vcard and person.profile.vcard_enabled and person.get_vcard_url %}
        <a href="{{ person.get_vcard_url }}">
            {% trans "Download vCard" %}
        </a>
    {% endif %}
</article>
